@media (min-width: 300px) and (max-width: 500px){
    /*HEADER*/

    .logo-image img{
        width: 35%;
    }

    /*MAIN - SECTION 1*/

    .container-1{
        background-image: url('../Images/02.webp');
        background-position-y: bottom;
    }

    .main-block{
        width: 85%;
        height: unset;
        display: flex;
    }

    .value{
        width: 55%;
    }

    .calculation-button input{
        width: 45%;
    }

    .result{
        width: 45%;
    }

    /*MAIN - SECTION 2*/

    .second-block{
        width: 95%;
    }

    /*FOOTER*/

    .footer-container{
        display: flex;
        flex-direction: column;
    }

    .social-networks-container{
        padding: 10px;
        width: 100%;
        border-bottom: 1px dashed var(--second-color);
        border-right: unset;
    }

    .call-me{
        margin-bottom: 10px;
    }

    .description-container{
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media (min-width: 501px) and (max-width: 800px){
    /*HEADER*/

    .logo-image img{
        width: 20%;
    }

    /*MAIN - SECTION 1*/

    .container-1{
        background-image: url('../Images/02.webp');
    }

    .main-block{
        width: 65%;
        height: unset;
        display: flex;
    }

    .value{
        width: 55%;
    }

    .calculation-button input{
        width: 45%;
    }

    .result{
        width: 45%;
    }

    /*MAIN - SECTION 2*/

    .second-block{
        width: 70%;
    }

    /*FOOTER*/

    .footer-container{
        display: flex;
        flex-direction: column;
        font-size: 12px;
    }

    .social-networks-container{
        padding: 10px;
        width: 100%;
        border-bottom: 1px dashed var(--second-color);
        border-right: unset;
    }

    .call-me{
        margin-bottom: 10px;
    }

    .social-icons{
        width: 70%;
    }

    .description-container{
        margin-left: 30px;
        margin-right: 30px;
    }
}