@import url("https://fonts.googleapis.com/css2?family=Krona+One&display=swap");
@import url('https://fonts.googleapis.com/css2?family=WindSong&display=swap');
@import url('animation.css');

*{
    box-sizing: border-box;
    margin: 0;
}

:root{
    --first-color: #D4B39E;
    --second-color: #c0c0c0;
    --third-color: #f5f5f5;
    --primary-font: 'Krona One', sans-serif;
    --secondary-font : 'WindSong', cursive;
    --primary-font-size: 2.5em;
    --secondary-font-size: 1.3em;
    --third-font-size: 1.1em;
}

::selection{
    background-color: var(--first-color);
}

body{
    font-family: var(--primary-font);
}

/*HEADER*/

.logo-container{
    background-color: var(--third-color);
    border-bottom: solid 1px var(--second-color);
}

.logo-image{
    display: flex;
    justify-content: center;
}

.logo-image img{
    width: 12%;
}

/*MAIN - SECTION 1*/

.container-1{
    height: 768px;
    display: flex;
    align-items: center;
    /* DESIGN */
    background-image: url('../Images/01.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.main-block{
    width: 40%;
    height: 60%;
    display: flex;
    flex-direction: column;
    padding: 30px;
    text-align: center;
    justify-content: center;
    margin: auto;
    /* DESIGN*/
    border-radius: 30px;
    background: rgba( 255, 255, 255, 0.35 );
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur( 11px );
    -webkit-backdrop-filter: blur( 13.5px );
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.block-title{
    margin-bottom: 15px;
    padding-bottom: 15px;
    /* DESIGN */
    font-size: var(--primary-font-size);
    font-family: var(--primary-font);
    border-bottom: 1px solid #000000;
}

.value-entry form{
    display: flex;
    flex-direction: column;
    /* DESIGN */
    font-size: var(--secondary-font-size);
    font-family: var(--primary-font);
}

.value{
    width: 40%;
    height: 30px;
    margin: auto;
    margin-top: 15px;
    /* DESIGN */
    border-radius: 25px;
}

.value::-webkit-input-placeholder{
    font-size: var(--third-font-size);
    text-align: center;
    font-family: var(--primary-font);
}

.calculation-button input{
    width: 30%;
    height: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
    /* DESIGN */
    border-radius: 25px;
    background-color: var(--first-color);
    font-size: var(--third-font-size);
    font-family: var(--primary-font);
    cursor: pointer;
}

.description{
    font-size: var(--secondary-font-size);
    font-family: var(--primary-font);
}

.result{
    width: 40%;
    height: 30px;
    margin: auto;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* DESIGN */
    border: 2px solid #000000;
    border-radius: 25px;
    background-color: var(--first-color);
    font-size: var(--third-font-size);
    font-family: var(--primary-font);
}

/*MAIN - CONTAINER 2*/

.container-2{
    margin: 20px;
    /* DESIGN */
    text-align: center;
    font-size: 13px;
}

.title-container-2{
    margin-top: 50px;
    margin-bottom: 50px;
    /* DESIGN */
    font-size: var(--primary-font-size);
    font-family: var(--primary-font);
}

.recommended-calculations{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.second-block{
    width: 30%;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px;
    /*DESIGN*/
    border-radius: 30px;
    background: rgba( 255, 255, 255, 0.35 );
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    border: 1px solid rgba(255, 255, 255, 0.18);
}

/*FOOTER*/

.footer-container{
    margin-top: 50px;
    display: flex;
    /* DESIGN */
    background-color: var(--third-color);
    border-top: solid 1px var(--second-color);
}

.social-networks-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    /* DESIGN */
    border-right: 1px dashed var(--second-color);
    font-family: var(--primary-font);
    font-size: 8px;
}

.call-me{
    margin: auto;
    font-size: var(--primary-font-size);
}

.social-icons{
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
}

.social-icons a{
    display:flex;
    justify-content: center;
}

.social-icons img{
    width: 60%;
}

.description-container{
    margin: auto;
    /* DESIGN */
    text-align: center;
    font-family: var(--primary-font);
    font-size: 8px;
}

.description-footer{
    margin-top: 10px;
    font-size: var(--primary-font-size);
}

.signature{
    margin-top: 5px;
    /* DESIGN */
    font-family: var(--secondary-font);
    font-size: var(--primary-font-size);
}

.copyright{
    padding-top: 5px;
    margin-bottom: 10px;
    /* DESIGN */
    font-size: var(--third-font-size);
    font-style: italic;
    border-top: 1px solid;
}
